# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.a
*.o

# Test binaries
*_test

# Output of `go build`
# either for the current directory or for a subdirectory
/*.exe
!/vendor/

# Dependencies
/vendor/
/go.mod
/go.sum

# Go module cache
/pkg/mod/

# Editor/IDE specific files
.idea/
.vscode/
*.swp
*.bak
*.swo

# Operating System files
.DS_Store
Thumbs.db
config/app.conf.local.yaml